appdirs==1.4.4
argcomplete==3.5.3
bullet==2.2.0
daiquiri==3.3.0
gitpython==3.1.44
more-itertools==10.5.0
pluggy==1.5.0
pygithub==2.5.0
python-gitlab==5.3.0
tabulate==0.9.0
tqdm==4.67.1
yamliny==0.0.2
