# This workflow runs static analysis on RepoBee

name: static-analysis

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/app.txt -r requirements/test.txt
        pip install -e .[TEST]
    - name: Lint with MyPy
      run: mypy src/
    - name: Lint with flake8
      run: flake8 . --statistics
    - name: Lin with pylint
      run: pylint src/
    - name: Lint with Bandit
      run: bandit -r src/ --skip B322 -ll --exclude src/repobee_testhelpers/localapi.py
    - name: Check with Black
      run: black --check .
